.tribu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}




.tribu-window {
    background: #fffcf2;
    border-radius: 15px;
    padding: 20px;
    height: 92%;
    width: 440px;
    height: 600px;
    margin-top: -15px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.tribu-title {
    font-size: 22px;
    margin-top:-5px;
    font-weight: bold;
    color: green;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.tribu-text {
    font-size: 18px;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.recipe-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.triburecipe-img {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

.recipe-name {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    font-size: 16px;
    margin-top: 10px;
    color: brown;
}

.collect-btn, .close-btn {
    margin-top: 5px;
    padding: 10px 15px;
    font-size: 16px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
margin-right: 15px;}

.close-btn {
    background: red;
}

.collected-recipes {
    margin-top: 20px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

.recipes-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.recipes-grid .recipe-card {
    width: 120px;
}
